/*Button styling. */
.btn {
    cursor: pointer;
    padding: .6em 2em;
    border-radius: 32px;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
}

.btn-primary {
    background-color: var(--brand-primary);
    color: white;
    border: 2px solid var(--brand-primary);
    &:hover {
        background-color: white;
        color: var(--brand-primary);
    }
    &:focus {
        background-color: white;
        color: var(--brand-primary);
    }
}

.btn-secondary {
    background-color: white;
    color: var(--brand-secondary);
    border: 2px solid var(--brand-secondary);
    &:hover {
        background-color: var(--brand-secondary);
        color: white;
    }
    &:focus {
        background-color: var(--brand-secondary);
        color: white;
    }
}

.btn-link {
  &:hover {
    color: var(--brand-primary);
    text-decoration: underline;
  }
  &:focus {
    color: var(--brand-primary);
    text-decoration: underline;
  }
}