/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url(btn.css);
@import url(text.css);
@import url(error.css);
@import url(form.css);

/*UoA official font.*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(74, 76, 76);
}

p {
  margin-bottom: 1rem;
}

p:last-of-type {
  margin-bottom: 0;
}

a {
  color: rgb(0, 70, 127);
  text-decoration: underline;
}

ul {
  margin: 0.5rem 0;
}

li {
  list-style-type: disc;
  margin-left: 1.5rem;
}

strong {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}


@media (min-width: 34em) {
  body {
    max-width: 34rem;
  }
}

@media (min-width: 48em) {
  body {
    max-width: 44rem;
  }
}

@media(min-width: 62em) {
  body {
    max-width: 52rem;
  }
}

@media(min-width: 75em) {
  body {
    max-width: 64rem;
  }
}

.forward-btn {
  margin: 2rem 0;
}

.box {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}