.page-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--brand-primary);
}

.app-title {
    font-size: 1.5rem;
    color: var(--brand-primary);
}

.title-section {
    margin-bottom: 2rem;
}